#container {
  text-align: center;
  margin-top: 50px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0%;
}

.center-content {
  text-align: center;
}

.azul {
  background-color: #2B5AC3;
  color: white;
}
