<ion-content>
  <div id="container">
    <ion-img src="assets/img/LogoAlcaldia.png"></ion-img>
    <h4>Alcaldía de Villavicencio - Meta</h4>
    <h5>Sede Principal</h5>
    <p>Dirección: Calle 40 Nº 33 - 64 Centro, Villavicencio - META / Colombia.</p>
    <p>Código Postal: 500001</p>
    <p>Horario de Atención: Lunes a Viernes: 08:00 am - 11:30 am y 02:00 pm - 05:30 pm.</p>
    <p>Conmuntador: (57+8) 671 58 59</p>
    <p>Línea Anticorrupción: (+57) 018000919748</p>
    <p>línea de servicio a la ciudadanía: (57+8) 671 58 59</p>
    <p>Correo Electrónico: alcaldia@villavicencio.gov.co</p>
    <p><a href="http://historico.villavicencio.gov.co/Paginas/Otras-Sedes.aspx">Otras sedes</a></p>
    <p><a href="http://historico.villavicencio.gov.co/Paginas/Mapa-del-Sitio.aspx">Mapa del Sitio</a></p>
    <p>Notificaciones Judicialesjuridicanotificaciones@villavicencio.gov.co</p>
    <p><a href="http://historico.villavicencio.gov.co/Ciudadanos/Paginas/PQRD.aspx">Ingrese su Petición, Queja, Reclamo, Solicitud, Denuncia y Felicitación</a></p>
    <p><a href="http://historico.villavicencio.gov.co/Paginas/Politicas-de-Privacidad-y-Condiciones-de-Uso.aspx">Políticas de Privacidad y condiciones de uso</a></p>
    <p><a href="http://historico.villavicencio.gov.co/Paginas/Pol%C3%ADticas-Editoriales-y-de-Actualizaci%C3%B3n.aspx">Políticas Editoriales y de Actualización</a></p>
  </div>
</ion-content>
